
.label {
	-fx-padding: 5.0px;
    -fx-min-width: 100.0;
    -fx-pref-width: 150.0;
    -fx-max-width: 2000.0;
  	-fx-alignment: center;
}
#deckcards {
	-fx-padding: -1.25px;
	-fx-background-color: white;
	-fx-background-radius: 6.0px;
	/*-fx-min-width: 50;
    -fx-pref-width: 85;
    -fx-max-width: 500;
    -fx-min-height: 80;
    -fx-pref-height: 139;
    -fx-max-height: 800; */
    
}
.deck {
	-fx-background-radius: 6.0px;
	-fx-border-radius: 6.0px;
}

.deck:hover {
	-fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
}

.menu:hover {
	-fx-background-color: darkgrey;
}
.menu:pressed {
	-fx-background-color: darkgrey;
}
.menu:focused {
	-fx-background-color: darkgrey;
}

#controlArea {
    -fx-spacing: 15.0px;
    -fx-padding: 5.0px;
    -fx-border-color: darkgreen;
    -fx-border-width: 2.0px;
}

#greenControlArea {
    -fx-spacing: 15.0px;
    -fx-padding: 5.0px;
    -fx-border-color: darkgreen;
    -fx-border-width: 2.0px;
}
#redControlArea {
    -fx-spacing: 15.0px;
    -fx-padding: 5.0px;
    -fx-border-color: darkred;
    -fx-border-width: 2.0px;
}

#greyControlArea {
    -fx-spacing: 15.0px;
    -fx-padding: 5.0px;
    -fx-border-color: #7f7f7f;
    -fx-border-width: 2.0px;
}

.player {
	-fx-padding: 5.0px;
}
.labels {
	-fx-text-fill: white;
}

.card {
  	-fx-font-size: 18px;
	-fx-padding: 2.0px;
    -fx-border-color: white;
    -fx-border-width: 1.5px;
    -fx-border-radius: 6.0px;
	-fx-background-color: white;
	-fx-background-radius: 6.0px;
    -fx-min-width: 50;
    -fx-pref-width: 83;
    -fx-max-width: 500;
    -fx-min-height: 80;
    -fx-pref-height: 132;
    -fx-max-height: 800;
}
.card:hover {
	-fx-border-color: #efefef;
	-fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
}

.controls {
	-fx-text-fill: white;
	-fx-background-color: transparent;
	-fx-background-radius: 4;
	-fx-border-color: darkgrey;
	-fx-border-width: 1.0;
	-fx-border-radius: 4;
}
.controls:hover {
	-fx-background-color: black;
}
.controls:pressed {
	-fx-background-color: darkgrey;
}
.controls:focused{
	-fx-border-color: white;
}

#lblDeck {
	-fx-text-fill: white;
}

.root {
	-fx-background-color: #477148;
}	

#redRoot {
	-fx-background-color: #9e180c;
}
#greenRoot {
	-fx-background-color: #477148;
}

#greyRoot {
	-fx-background-color: #939393;
}
